.purple-background {
    background-color: #DFD0FF;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.hero {
    width: 218px;
    position: relative;
    left: 1rem;
}

.intro {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 0.5rem;
}

.sub-intro {
    text-align: center;
    padding: 0 3rem;
}

.links {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    padding: 20px;
    font-size: 24px;
}

.footer {
    font-size: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .hero {
        width: 255px;
    }

    .intro{
        font-size: 40px;
    }

    .sub-intro{
        font-size: 20px;
    }

    .footer{
        font-size: 15px;
    }
}